$border-radius: 5px;
$overlay-bg: #f5f9fc;
$primary: #5244df;
$primary-text: #0a192b;
$secondary-text: #85868a;
$shift-distance: 1rem;
$animation-time: 0.25s;

.project-card-container {
  --gradient-clr-one: #5244df;
  --gradient-clr-two: #24a9e1;
  display: flex;
  background: white;
  flex-direction: column;
  height: 300px;
  border-radius: 5px;
  padding: 0.4rem 0.4rem 0;
  box-shadow: 0px 0px 3px 1px #cacaca;
}

.project-card-thumbnail {
  position: relative;
  height: 190px;
  overflow: hidden;
  border-radius: $border-radius;
  transform-origin: top;
}

.project-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $overlay-bg;
}

.project-card-gradient {
  position: absolute;
  width: 100%;
  height: 99.8%;
  overflow: hidden;
  display: none;
  .gradient-svg {
    position: absolute;
    left: -50%;
    width: 200%;
    height: 200%;
  }

  .bg-gradient-one {
    animation: one_float ease-in-out 5s infinite;
  }

  .bg-gradient-two {
    animation: two_float ease-in-out 5s infinite;
  }
}

.project-card-image {
  position: absolute;
  width: 100%;
  aspect-ratio: 16 / 9;
  top: 30%;
  left: 15%;
  border-radius: $border-radius;
  will-change: transform;
}

.project-card-text {
  height: 110px;
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
}

.project-card-header {
  color: $primary-text;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.project-card-description {
  color: $secondary-text;
}

// ANIMATIONS
.project-card-cta {
  opacity: 0;
  color: $primary;
  transition: opacity ease-in-out $animation-time;
}

.project-card-thumbnail,
.project-card-image,
.project-card-text {
  transition: transform ease-in-out $animation-time;
}

.project-card-container:hover {
  .project-card-text {
    transform: translateY(-1 * $shift-distance);
  }

  .project-card-image {
    transform: scaleY(1.086) translateY(-1 * $shift-distance);
  }

  .project-card-cta {
    opacity: 1;
  }

  .project-card-thumbnail {
    transform: scaleY(0.92);

    .project-card-gradient {
      display: block;
    }
  }
}

// Media Query for mobile devices with no mouse for hover events
@media (hover: none) and (pointer: coarse) {
  .project-card-thumbnail {
    transform: scaleY(0.92);
  }

  .project-card-image {
    transform: translateY(-1 * $shift-distance);
  }

  .project-card-text {
    transform: translateY(-1 * $shift-distance);
  }

  .project-card-gradient {
    display: block;
  }

  .project-card-cta {
    opacity: 1;
  }
}

@media (min-width: 480px) {
  .project-card-container {
    height: 400px;
  }

  .project-card-thumbnail {
    height: 300px;
  }

  .project-card-text {
    height: 100px;
  }

  .project-card-text {
    flex: 1;
  }
}

@media (min-width: 768px) {
  .project-card-container {
    height: 400px;
  }

  .project-card-thumbnail {
    height: 300;
  }

  .project-card-text {
    height: 100;
  }

  .project-card-container {
    top: 40%;
  }

  .project-card-header {
    font-size: 1rem;
  }

  .project-card-description .project-card-cta {
    font-size: 0.8rem;
  }
}

@media (min-width: 950px) {
  .project-card-container {
    height: 300px;
  }

  .project-card-thumbnail {
    height: 170px;
  }

  .project-card-gradient {
    height: 99.5%;
  }

  .project-card-text {
    height: 130;
  }
}

@media (min-width: 1200px) {
  .project-card-container {
    height: 400px;
  }

  .project-card-thumbnail {
    height: 270px;
  }

  .project-card-gradient {
    height: 99.5%;
  }

  .project-card-text {
    height: 130px;
  }
}

@media (min-width: 1500px) {
  .project-card-container {
    height: 400px;
  }

  .project-card-thumbnail {
    height: 300px;
  }

  .project-card-gradient {
    height: 99.5%;
  }

  .project-card-text {
    height: 130px;
  }
}

@keyframes one_float {
  0% {
    transform: scale(1) rotate(0deg) translate(0);
  }
  25% {
    transform: scale(0.9) rotate(0deg) translate(20%, -10%);
  }
  75% {
    transform: scale(0.95) rotate(20deg) translate(10%, -20%);
  }
  100% {
    transform: scale(1) rotate(0deg) translate(0);
  }
}

@keyframes two_float {
  0% {
    transform: scale(1) rotate(0deg) translate(0);
  }
  25% {
    transform: scale(0.9) rotate(0deg) translate(-10%, -30%);
  }
  75% {
    transform: scale(0.9) rotate(0deg) translate(20%, -30%);
  }
  100% {
    transform: scale(1) rotate(0deg) translate(0);
  }
}
